/*******************************@IMPORT SELECTORS******************************/

/*********************************TAG SELECTORS********************************/
html{
    font-family: 'Oxygen', sans-serif;
}

*, *:before, *:after{
    font-family: inherit;
}
/********************************CLASS SELECTORS*******************************/
.nav_a{
    font-size: 1.1em;
}

.btn-menu{
    font-size: 1.3rem;
}
/*********************************ID SELECTORS*********************************/

/*******************************@MEDIA SELECTORS*******************************/